.title{
    justify-content: center;
    font-weight: bolder;
}

.comment{
    white-space: nowrap;
    overflow: hidden;
    text-overflow:ellipsis;  
}

.FlexItem {
    width: 200px;            /* fixed size will demonstrate the wrap */
    background-color: gray;
    border-radius: 6px;
    padding: 8px;
    margin: 8px;
}
