.title{
    justify-content: center;
    font-family: sans-serif;
}

.comment{
    white-space: nowrap;
    overflow: hidden;
    text-overflow:ellipsis; 
    font-style: italic;
    font-size: smaller; 
}

.FlexItem {
    width: 200px;            
    /*height: 200px;*/
    background-color:#eBecf2;
    cursor:pointer;
    border-radius: 12px;
    padding: 8px;
    margin: 8px;
    padding-left: 12px;
    padding-right: 12px;
    box-shadow: -5px -5px 10px rgba(255, 255, 255, 0.80),
    5px 5px 10px rgba(0, 0, 0, 0.25);
    transition: 0.5s;
}

/*
.FlexItem:hover{
    box-shadow: 
    -1px -1px 5px rgba(255, 255, 255, 0.60),
    1px 1px 10px rgba(0, 0, 0, 0.30),
    inset -2px -2px 5px rgba(255, 255, 255, 1),
    inset 2px 2px 4px rgba(0, 0, 0, 0.30);
}
*/

.editBtn {
    position:relative;
    display: flex;
    font-size: 1.6rem;
    line-height: 1rem;
    top: -0.2rem;
    left: -0.5rem;
    height: 1.5rem;
    width: 2rem;
    background-color: #eBecf2;
    border: 0px ;
    margin-top: 3px;
    margin-left: 3px;
    border-radius: 20%;
    padding-top: 0.2rem;
    padding-right: 0.3rem;
    padding-left: 0.1rem;
    cursor:pointer;
    box-shadow: -5px -5px 10px rgba(255, 255, 255, 0.80),
    5px 5px 10px rgba(0, 0, 0, 0.25);
    transition: 0.5s;
}
.ratingBtn{
    position:relative;
    display: flex;
    font-size: 1rem;
    line-height: 1rem;
    top: -0.2rem;
    left: -0.5rem;
    height: 1.5rem;
    width: 2rem;
    justify-content: center;
    background-color: #eBecf2;
    border: 0px ;
    margin-top: 3px;
    margin-left: 3px;
    border-radius: 20%;
    padding-top: 0.2rem;
    padding-right: 0.3rem;
    padding-left: 0.1rem;
    cursor:pointer;
    box-shadow: -5px -5px 10px rgba(255, 255, 255, 0.80),
    5px 5px 10px rgba(0, 0, 0, 0.25);
    transition: 0.5s;
}

.editBtn:hover{
    box-shadow:none; 
}

.ratingBtn:hover{
    box-shadow:none; 
}

.innerItemDiv{
    display: flex;
    justify-content: space-around;
}

.chkBox{
    width: 23px;
}

#rateRange{
    margin-top: 30px;
    width: 200px;
}