.FlexWrap{
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ShowSlide {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70vh;
  width: 60vw;

}

img{
  flex-shrink: 0;
  min-width: 100%;
  min-height: 100%;
  object-fit: contain;
}

.title{
  display: flex;
  justify-content: center;
  color: black;
  font-weight: bold;
  font-size: 24px;
  font-style:normal;

}


.comment{
  margin: auto;
  display: block;
  width: 80%;
  max-width: 500px;
  text-align: center;
  color: black;
  padding: 10px 0;
  height: 200px;
  overflow-wrap: break-word;
}

.prev, .next {
cursor: pointer;
width: auto;
margin-top: -22px;
padding: 16px;
color: black;
font-weight: bold;
font-size: 50px;
}

.prev:hover, .next:hover {
background-color: rgba(0,0,0,0.8);
}

.fade {
animation-name: fade;
animation-duration: 1.5s;
}


@keyframes fade {
from {opacity: .4}
to {opacity: 1}
}